
.grille{
    display: grid;
    grid-template-columns: repeat(4,1r);
    grid-template-rows:repeat(5,1fr) ;
    width:98% ;
    text-align: center;
    align-items: center;
    



}
.grille-button{
   
    background-color: #444;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    
   

    
}